*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #19191F;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
}

.canvas-box{
    margin: 30px 50px 30px 50px;
    height: 210px;
    background-color: #141418;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-btn{
    background-color: #396AFC;
    color: white;
    padding: 15px 35px 15px 35px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}
.main-btn:hover{
    background-color: #5681ff;
    cursor: pointer;
    transition: 0.2s;
}

.settings-sec{
    margin: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 100%;

}

.set-box{
    width: 400px;
    height: 450px;
    border-radius: 14px;
    background-color: #141418;
}